.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 1rem 0;
}

.item__quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.item__quantityButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border: 1px solid black;
    color: black;
    border-radius: 50%;
    cursor: pointer;
}

.item__quantityButton:hover {
    background-color: black;
    color: white;
}