.container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.s.cardLeft {
  display: flex;
}

.card__image .card__img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.cardRight {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.card__title {
  font-size: 20px;
  font-weight: 700;
}

.card__input {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  width: 60px; 
}

.hr {
  margin: 20px 0;
  border-top: 1px solid #ccc;
}

.cardRight__icons {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.cardRight__image .cardRight__img {
  width: 30px;
  object-fit: cover;

}

.cardRight__container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.cardRight__subContainer {
  display: flex;
  flex-direction: column;
  width: 5rem;

}

.cardRight__text {
  font-size: 0.7rem;
}
/* ==== */

.zoom__container {
  overflow: hidden;
  width: 500px; /* ajusta el tamaño del contenedor según sea necesario */
  height: 500px;
}

.zoom__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.zoom__container:hover img {
  transform: scale(1.2); /* Ajusta el valor de escala según sea necesario */
}

.RelatedProducts {
  display: flex;
  flex-direction: row;
}