.container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.s.cardLeft {
  display: flex;
}

.card__image .card__img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.cardRight {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.card__title {
  font-size: 20px;
  font-weight: 700;
}

.card__input {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  width: 60px; 
}

.hr {
  margin: 20px 0;
  border-top: 1px solid #ccc;
}

.cardRight__icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cardRight__img {
  width: 30px;
  object-fit: cover;

}

.cardRight__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cardRight__subContainer {
  display: flex;
  flex-direction: column;
  width: 5rem;

}

.cardRight__text {
  font-size: 0.7rem;
}