@import '../../colors.css';

.cartWidget {
    display: none;
    background: white;
}

.cartWidget__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.cartWidget__overlay_open {
    display: block;
}

.cartWidget__card {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -450px;
    background-color: white;
    z-index: 10;
    width: 26rem;
    height: 100vh;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: right 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    user-select: none;
}

.cartWidget__card_open {
    right: 0px;
}

.cartWidget__card__header {
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: inset 0 -1px 0 0 hsl(0 0% 90%);
}

.cartWidget__clearButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cartWidget__clearButton:hover {
    color: red;
}

.cartWidget__clearButton_disabled {
    visibility: hidden;
}


.cartWidge__closeIcon {
    width: 1.2rem;
}

.cartWidget__products {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 70vh;
    padding-top: 1rem;
}

.cartWidget__titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7rem;
}

.cartWidget__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0;
    color: black;
}

.cartWidget__command {
    color: var(--gray-color-2);
}


.button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 80%;
    height: 3rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

.button:hover {
    background-color: var(--secondary-color);
}

.button__cartEmpty {
    pointer-events: none;
    cursor: not-allowed;
    background-color: var(--gray-color);
}

.cartWidget__card__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0px -2px 4px hsl(0 4% 15% / 5%);
    gap: 1rem;
}

.cartWidget__card__footer__total {
    font-weight: bold;
    font-size: 1rem;
}