.container {
  display: flex;
  justify-content: center;
  padding: 2rem 2rem 4rem 2rem;
  min-height: 80vh;
}

.subContainer {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  width: 100%;
  place-items: center;
}

/* Media Queries */

@media (width <=390px) {
  
  .subContainer {
    min-width: 0px;
  }
}

@media (width <=768px) {
  .subContainer {
    min-width: 100%;
  }
}