@import '../../colors.css';

.container {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 4rem;
}

.subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stateContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 56rem;

}

.lineProgress {
    display: flex;
    align-self: center;
    height: 0.2rem;
    width: 30rem;
    background: linear-gradient(to right, var(--primary-color) 33%, var(--gray-color) 33% 66%, var(--gray-color) 66%);
    position: absolute;
    margin-top: -20px;
    z-index: 1;
    border-radius: 0.3rem;
    transition: background, height 0.3s ease-in-out;
}

.lineProgress__2 {
    height: 0.21rem;
    background: linear-gradient(to right, var(--primary-color) 33%, var(--primary-color) 33% 66%, var(--gray-color) 66%);
}

.lineProgress__3 {
    height: 0.21rem;

    background: linear-gradient(to right, var(--primary-color) 33%, var(--primary-color) 33% 66%, var(--primary-color) 66%);
}


.checkoutState {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
    width: 42rem;
    height: 7rem;
    z-index: 1;
    background-color: white;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.checkout__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.checkout__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 50%;
}

.checkout__number {
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.2rem solid #F5F5F5;
    transition: transform 0.3s ease
}

.checkout__number:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.checkout__number__ready {
    border-color: var(--primary-color);
    color: var(--primary-color);
    transform: scale(1.05);
}

.checkout__number__active {
    transform: scale(1.1);
}