@import '../../colors.css';

nav {
  background: white;
  padding: 1.5rem;
  box-shadow: 0 2px 4px hsl(0 4% 15% / 10%);
  top: 0px;
  position: sticky;
}

.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-evenly;
  z-index: 3;
}

.logo {
  width: 10rem;
}

.mobile__logo {
  display: none;
}

.brand {
  display: block;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.contentContainer> :not([hidden])~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem
      /* 16px */
      * var(--tw-space-x-reverse));
  margin-left: calc(1rem
      /* 16px */
      * calc(1 - var(--tw-space-x-reverse)));
}

.group {
  position: relative;
  display: inline-block;
}

.text-white {
  color: white;
}

.dropdownMenu {
  position: absolute;
  left: -20px;
  z-index: 10;
  background-color: #212121;
  padding: 10px;
  color: white;
  display: none;
}

.dropdownMenu__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.group:hover .dropdown-menu {
  display: block;
}

.buttonStyle {
  background-color: transparent;
}

.dropdown {
  display: flex;
}

.dropdown__button {
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: none;
  color: black;
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding: 0px 1.8rem;
}

.dropdown__buttonIcon {
  transform: rotate(270deg);
}

.dropdown:hover .dropdown__buttonIcon {
  transform: rotate(0deg);
}

.dropdown__content {
  margin-top: 2.4rem;
  padding: 0.7rem 0rem;
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 10rem;
  gap: 0.2rem;
  box-shadow: 0 2px 4px hsl(0 4% 15% / 10%);

}

.dropdown:hover .dropdown__content {
  display: flex;
}

.dropdown__category::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.6s ease;
}

.dropdown__category:hover::after {
  width: 100%;
}

.cartTotal {
  display: flex;
}

/* ==== */

.center {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* Media Querys */

/* Mobile */
@media (width <= 390px) {

  nav {
    padding: 0.5rem;
  }

  .container {
    display: none;
  }

  .logo {
    width: 8rem;
  }
  
  .mobile__logo {
    display: none;
  }

  .center {
    display: none;
  }

  .cartTotal {
    display: none;
  }

}

/* Tablet */
@media (width <= 768px) {

  .logo{
    display: none;
  }

  .mobile__logo {
    display: block;
    width: 2.4rem;
  }
}