@import '../../colors.css';

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 12rem;
    background-color: white;
}

.cardHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    height: 8rem;
}

.cardHeader__title {
    color: white;
}

.cardContent {
    display: flex;
}

.cardFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}