
.container {
    display: flex;
    margin-top: 2rem;
    gap: 4rem;
}

.subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 10rem;
    background: white;
    gap: 1rem;
}

.input {
    display: flex;
    width: 12rem;
}