:root {
  background-color: #000000;
}

* {
  box-sizing: border-box;
  min-width: 0;
  color: black;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: 0.5px solid #e3e3e3;
}

.contenedor-flex {
  font-size: 0;
}

div {
  color: black;
}

.contenedor-flex>* {
  font-size: 16px;
}

input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 60px;
}