:root {
  margin: 0;
  background-color: #000000;
}

* {
  box-sizing: border-box;
  min-width: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #000000;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* Estilos para resetear estilos predeterminados de inputs y botones */
input, button, select, textarea {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  outline: none;
}

/* Estilos específicos para el input de tipo number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Estilos personalizados para el input y el botón */
input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 60px; /* Ajusta el ancho según tus necesidades */
}

