@import '../../colors.css';

.card {
  flex-direction: column;
  display: flex;
  width: 320px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1);
  transition: border-color 0.3s ease, transform 0.1s ease, opacity 0.1s ease-out;
  opacity: 0.97;
  user-select: none;
}

.card:hover {
  transform: scale(1.01);
  opacity: 1;
}

.card.invisible {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.card.invisible:hover {
  visibility: visible;
  opacity: 1;
}

.card__brand {
  margin-top: 0.6rem;
  font-size: 12px;
  font-weight: bold;
  color: black;
  align-self: center;
}

.card__category {
  margin-top: 0.3rem;
  font-size: 12px;
  font-weight: bold;
  color: var(--primary-color);
  align-self: center;
}

.card__title {
  max-height: 60px;
  min-height: 60px;
  font-size: 15px;
  font-weight: bold;
  color: black;
  margin: 10px 20px;
}

.card__image .card__img {
  align-self: center;
  width: 300px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}

.card__footer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.card__priceFooter {
  padding: 10px;
  margin-left: 10px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card__price {
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-color);
}

.card__button {
  display: flex;
  margin: 2px 12px;
}

/* Media Queries */
@media (width <=390px) {



}